@import "./common/normalize";
@import "./common/fonts";
@import "./common/extends";

body {
  max-width: 1920px;
  background-color: #000;
  background-position: center top;
  background-repeat: no-repeat;

  .background {
    position: fixed;
    min-width: 100%;
    min-height: 100%;

    & > video {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  textarea {
    width: 900px;
    height: 150px;
    margin: 150px auto 50px;
    overflow: auto;
    color: mintcream;
    background-color: transparent;
    border-color: mintcream;
    font-size: 20px;
    @extend %ff-Heebo-Regular;
  }

  .keyboard__key {
    min-width: 40px;
    height: 40px;
    color: #bbadd9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    border-radius: 3px;
    border-style: solid;
    border-width: 3px 5px 9px 5px;
    border-color: #382e59 #2e2640;
    transition: all 50ms ease-out;
    will-change: box-shadow, color, text-shadow;
    @extend %ff-Heebo-Regular;

    &:hover {
      color: hsla(325, 100%, 50%, 50%);
    }

    &.active {
      transform: perspective(1200px) translateZ(-90px);
    }
  }

  .body-keyboard {
    background-color: #6a3b7e;
    margin: 0 auto;
    padding: 5px;
    user-select: none;
    width: 874px;
    border-radius: 5px;
    border-style: solid;
    border-width: 8px 10px 15px 10px;
    border-color: #2e2640;

    .Tab {
      width: 74px;
    }
    .CapsLock {
      width: 102px;
    }
    .Backspace {
      width: 130px;
    }
    .Enter {
      width: 124px;
    }
    .Shift[data-key="ShiftRight"] {
      width: 96px;
    }
    .Shift[data-key="ShiftLeft"] {
      width: 130px;
    }
    .Space {
      width: 410px;
    }
    .Delete,
    .Tab,
    .CapsLock,
    .Backspace,
    .Enter,
    .Shift,
    .Shift,
    .Space,
    .Control,
    .Control,
    .Alt,
    .Alt,
    .Switch-Lang,
    .ArrowUp,
    .ArrowLeft,
    .ArrowDown,
    .ArrowRight {
      @extend %ff-Bebas-Neue-Regular;

      &:hover {
        color: rgb(192, 13, 228);
      }
      &.active {
        transform: perspective(1200px) translateZ(-90px);
      }
    }
  }
}
