@import "./common/normalize";
@import "./common/fonts";
@import "./common/extends";

html {
  background-color: blueviolet;
}

body {
  max-width: 1920px;

  .container {
    margin: 150px auto 150px;
    display: flex;
    flex-direction: column;
  }

  textarea {
    width: 900px;
    height: 150px;
    margin: 0 auto 50px;
  }

  .keyboard__key {
    min-width: 50px;
    height: 50px;
    background-color: cornsilk;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    @extend %ff-Heebo-Regular;
  }

  .body-keyboard {
    background-color: aqua;
    margin: 0 auto;
    padding: 3px;
    user-select: none;

    .keyboard__row {
      display: flex;
      margin: 1px 1px;
    }

    .Tab {
      width: 75px;
      height: 50px;
    }
    .CapsLock {
      width: 100px;
    }
    .Backspace {
      width: 129px;
    }
    .Enter {
      width: 133px;
    }
    .ShiftRight {
      width: 104px;
    }
    .ShiftLeft {
      width: 129px;
    }
    .Space {
      width: 399px;
    }

    .functional {
      background-color: cornflowerblue;
      @extend %ff-Bebas-Neue-Regular;
    }
  }
}
