@font-face {
  font-family: "BebasNeueRegular";
  src: url("../assets/fonts/BebasNeue/BebasNeue-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "HeeboRegular";
  src: url("../assets/fonts/Heebo/Heebo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
